In [1]:
1+1

2

In [2]:
a=4 #integer type
b=5.9 #float
sum =a+b
print (sum)

9

In [3]:
def square (num):
    "Function to find square of the value"
    return num**2

In [4]:
help(square)

Help on function square in module __main__:

square(num)
    Function to find square of the value

In [5]:
print ("Hello World")

Hello World

In [6]:
name ="ramesh"

print (name)

ramesh

In [7]:
print("hello",name)

hello ramesh

In [11]:
address="Kathmandu"
print(name, address)

ramesh Kathmandu

In [14]:
print(f"my name is{name}. I live in {address}.")

my name isramesh. I live in Kathmandu.

In [16]:
x=2
y=7

print(f"The sum of x and y is : {x+y}") #string interpolation

The sum of x and y is : 9

In [17]:
x=1
y=2
z=3
a=4

print(x,y,z,a,"hello")

1 2 3 4 hello

In [18]:
x=1
y=2
z=3
a=4

print(x,y,z,a,"hello", sep="#")

1#2#3#4#hello

In [19]:
x=1
y=2
z=3
a=4

print(x,y,z,a,"hello", sep="#" , end="4")

1#2#3#4#hello4

In [20]:
x= 6; y=12
print('The value of x is {} and y is {}'. format (x,y))

The value of x is 6 and y is 12

In [21]:
name ="ramesh"
address="Kathmandu"
print('My name is {}. I live in {}'.format(name, address))

My name is ramesh. I live in Kathmandu

In [22]:
name ="ramesh"
address="Kathmandu"
print('My name is {x}. I live in {y}'.format(x=name, y=address))

My name is ramesh. I live in Kathmandu

In [23]:
name ="ramesh"
address="Kathmandu"
print('My name is {1}. I live in {0}'.format(address,name))

My name is ramesh. I live in Kathmandu

In [26]:
x=12.34567890
print('The value of x is %0.2f' %x) # "%0.2" means only 2 number after decimal
print('The value of x is %0.3f' %x) # "%0.3" means only 3 number after decimal

The value of x is 12.35
The value of x is 12.346

In [29]:
name = input ('Enter your name: ')
address = input ('Enter your address: ')
print(f"My name is {name} and I live in {address}.")

Enter your name: Sandip
Enter your address: Bhaktapur
My name is Sandip and I live in Bhaktapur.

In [3]:
 a = int(input ('First number: '))
 b = int(input ('Second number: '))
sum = a +b
print (f"The sum is: {sum}")

First number: 5
Second number: 9
The sum is: 14

In [1]:
eval ('6+3') # Eval function can add numbers in string data type

9

In [4]:
eval ("a+b")

14

In [5]:
number = int (input("Enter number: "))
print ("\n")
print ("The number in decimal format is: {:d}".format (number))
print ("The number in octal format is: {0:o}".format (number))
print ("The number in binary format is: {0:b}".format (number))
print ("The number in hexadecimal format is: {0:x}".format (number))

Enter number: 25


The number in decimal format is: 25
The number in octal format is: 31
The number in binary format is: 11001
The number in hexadecimal format is: 19