In [6]:
x = (1, 7.5, 'hello', [1,4,6,7], {'hello', 'world'}) #tuple
print(id(x[3]))
x[3][1] = 8
print (x)
print(id(x))
print(id(x[3]))

2416395641728
(1, 7.5, 'hello', [1, 8, 6, 7], {'world', 'hello'})
2416395671792
2416395641728

In [7]:
#Concatenation
print((1,2,3) + (4,5,6) )

#Repeat
print(("Repeat",)*3)

(1, 2, 3, 4, 5, 6)
('Repeat', 'Repeat', 'Repeat')

In [8]:
x = (1,2,3)
y = (4,5,6)

z = x + y
print(z)

(1, 2, 3, 4, 5, 6)

In [9]:
x = (1,2,3)
y = (4,5,6)

z = x * y  #Tuples cant be multiplied
print(z)

TypeError: can't multiply sequence by non-int of type 'tuple'

In [10]:
x = (1,2,3)

del x[0] #items inside tuples can't be deleated

TypeError: 'tuple' object doesn't support item deletion

In [11]:
x = (1,2,3)

del x

In [12]:
x = (1,2,3,1,1)
x.count(1)

3

In [14]:
x = (1,2,3,1,1)
x.index(1)

0

In [15]:
min(x)

1

In [16]:
max(x)

3

In [17]:
sorted(x)

[1, 1, 1, 2, 3]

In [18]:
fruits = ['apple', 'banana', 'orange'] #fruits => String => Same data types so homogeneous
person = ('ram', 23, 98456728, 'Ram@gmail.com') # Different data types so heterogenous

In [37]:
# dictionary | object | record => mutable
person = {
    "name" : "ram",
    "age" : 23,
    "salary" : 30000,
    "mobile" : 9843528749,
    "email" : "ram@gmail.com",
    1:88,
    ("hello", 7) : 99 
} 

# name, age, salary, mobile, email => keys
# ram , 23, 30000, 9843528749, ram@gmail.com => values

print (person)

print(f"My name is {person['name']} and I am {person['age']} years old")

{'name': 'ram', 'age': 23, 'salary': 30000, 'mobile': 9843528749, 'email': 'ram@gmail.com', 1: 88, ('hello', 7): 99}
My name is ram and I am 23 years old

In [25]:
print(person['name'])

ram

In [26]:
print(person['age'])

23

In [28]:
print(person[1])

88

In [29]:
print(person['hello',7])

99

In [31]:
x = {}
print (x)
print(type(x))

{}
<class 'dict'>

In [32]:
x = ()
print (x)
print(type(x))

()
<class 'tuple'>

In [33]:
x = dict([(1, 'apple'), (2, 'ball')])
print (x)

{1: 'apple', 2: 'ball'}

In [34]:
x = dict([[1, 'apple'], [2, 'ball']])
print (x)

{1: 'apple', 2: 'ball'}

In [42]:
person = {
    "name" : "ram",
    "age" : 23,
    "salary" : 30000,
    "mobile" : 9843528749,
    "email" : "ram@gmail.com",
    1:88,
    ("hello", 7) : 99 
} 

print (person.get('address'))
print (person.get('address', 'ktm'))
print (person.get('name'))
print (person)

None
ktm
ram
{'name': 'ram', 'age': 23, 'salary': 30000, 'mobile': 9843528749, 'email': 'ram@gmail.com', 1: 88, ('hello', 7): 99}

In [43]:
person = {
    "name" : "ram",
    "age" : 23,
    "salary" : 30000,
    "mobile" : 9843528749,
    "email" : "ram@gmail.com",
    1:88,
    ("hello", 7) : 99 
} 
person['address'] = 'lalitpur'

print(person)

{'name': 'ram', 'age': 23, 'salary': 30000, 'mobile': 9843528749, 'email': 'ram@gmail.com', 1: 88, ('hello', 7): 99, 'address': 'lalitpur'}

In [44]:
person = {
    "name" : "ram",
    "age" : 23,
    "salary" : 30000,
    "mobile" : 9843528749,
    "email" : "ram@gmail.com",
    1:88,
    ("hello", 7) : 99 
} 
for p in person:
    print(p)

name
age
salary
mobile
email
1
('hello', 7)

In [45]:
person.keys()

dict_keys(['name', 'age', 'salary', 'mobile', 'email', 1, ('hello', 7)])

In [46]:
person.values()

dict_values(['ram', 23, 30000, 9843528749, 'ram@gmail.com', 88, 99])

In [47]:
person.items()

dict_items([('name', 'ram'), ('age', 23), ('salary', 30000), ('mobile', 9843528749), ('email', 'ram@gmail.com'), (1, 88), (('hello', 7), 99)])

In [49]:
for p in person.items():
    print (p)

('name', 'ram')
('age', 23)
('salary', 30000)
('mobile', 9843528749)
('email', 'ram@gmail.com')
(1, 88)
(('hello', 7), 99)

In [53]:
for k,v in person.items():
    print (k, v)

name ram
age 23
salary 30000
mobile 9843528749
email ram@gmail.com
1 88
('hello', 7) 99

In [54]:
person = {
    "name" : "ram",
    "age" : 23,
    "salary" : 30000,
    "mobile" : 9843528749,
    "email" : "ram@gmail.com",
    1:88,
    ("hello", 7) : 99 
} 
person['age'] = 24

print(person)

{'name': 'ram', 'age': 24, 'salary': 30000, 'mobile': 9843528749, 'email': 'ram@gmail.com', 1: 88, ('hello', 7): 99}

In [56]:
person = {
    "name" : "ram",
    "age" : 23,
    "salary" : 30000,
    "mobile" : 9843528749,
    "email" : "ram@gmail.com",
    1:88,
    ("hello", 7) : 99 
} 
x = person.pop("age")
print(x)
print(person)

23
{'name': 'ram', 'salary': 30000, 'mobile': 9843528749, 'email': 'ram@gmail.com', 1: 88, ('hello', 7): 99}

In [58]:
person = {
    "name" : "ram",
    "age" : 23,
    "salary" : 30000,
    "mobile" : 9843528749,
    "email" : "ram@gmail.com",
    1:88,
    ("hello", 7) : 99 
} 
person.clear()

print (person)

{}

In [60]:
person = {
    "name" : "ram",
    "age" : 23,
    "salary" : 30000,
    "mobile" : 9843528749,
    "email" : "ram@gmail.com",
    1:88,
    ("hello", 7) : 99 
} 
person.update({"address" : "lalitpur"})

print (person)

{'name': 'ram', 'age': 23, 'salary': 30000, 'mobile': 9843528749, 'email': 'ram@gmail.com', 1: 88, ('hello', 7): 99, 'address': 'lalitpur'}

In [63]:
person1 = {
    "name" : "ram",
    "age" : 23,
    "salary" : 30000,
    "mobile" : 9843528749,
    "email" : "ram@gmail.com",
    1:88,
    ("hello", 7) : 99 
} 

person2 = {
    "address" : "Lalitpur",
    "college" : "SSada"
}
person1.update(person2)

print (person1)
print (person2)

{'name': 'ram', 'age': 23, 'salary': 30000, 'mobile': 9843528749, 'email': 'ram@gmail.com', 1: 88, ('hello', 7): 99, 'address': 'Lalitpur', 'college': 'SSada'}
{'address': 'Lalitpur', 'college': 'SSada'}

In [64]:
person1 = {
    "name" : "ram",
    "age" : 23,
    "salary" : 30000,
    "mobile" : 9843528749,
    "email" : "ram@gmail.com",
    1:88,
    ("hello", 7) : 99 
} 

person2 = {
    "address" : "Lalitpur",
    "college" : "SSada"
}
person2.update(person1)

print (person1)
print (person2)

{'name': 'ram', 'age': 23, 'salary': 30000, 'mobile': 9843528749, 'email': 'ram@gmail.com', 1: 88, ('hello', 7): 99}
{'address': 'Lalitpur', 'college': 'SSada', 'name': 'ram', 'age': 23, 'salary': 30000, 'mobile': 9843528749, 'email': 'ram@gmail.com', 1: 88, ('hello', 7): 99}

In [66]:
person = {
    "name" : "ram",
    "age" : 23,
    "salary" : 30000,
    "mobile" : 9843528749,
    "email" : "ram@gmail.com",
    1:88,
    ("hello", 7) : 99 ,
    "address" : "lalitpur"
} 
print(person.get("address" , "ktm"))

print (person)

lalitpur
{'name': 'ram', 'age': 23, 'salary': 30000, 'mobile': 9843528749, 'email': 'ram@gmail.com', 1: 88, ('hello', 7): 99, 'address': 'lalitpur'}

In [69]:
person = {
    "name" : "ram",
    "age" : 23,
    "salary" : 30000,
    "mobile" : 9843528749,
    "email" : "ram@gmail.com",
    1:88,
    ("hello", 7) : 99 
} 
print(person.setdefault("address" , "ktm"))

print (person)

ktm
{'name': 'ram', 'age': 23, 'salary': 30000, 'mobile': 9843528749, 'email': 'ram@gmail.com', 1: 88, ('hello', 7): 99, 'address': 'ktm'}

In [70]:
person = {
    "name" : "ram",
    "age" : 23,
    "salary" : 30000,
    "mobile" : 9843528749,
    "email" : "ram@gmail.com",
    1:88,
    ("hello", 7) : 99 
} 
x = person.copy()

print (id(x))
print (id(person))

2416394996800
2416395650944