In [1]:
x = [1,2,3,4,5,6,7,8]

for i in x:
    print(i)

1
2
3
4
5
6
7
8

In [5]:
x = [1,2,3,4,5,6,7,8]
sum = 0

for i in x:
    sum += i
print(sum)

average = sum / len(x)
print(average)

36
4.5

In [6]:
print(x[0:5])

[1, 2, 3, 4, 5]

In [7]:
for i in range (0,5):
    print(i)

0
1
2
3
4

In [8]:
for i in range (5):
    print(i)

0
1
2
3
4

In [11]:
for i in range (0,5,1):
    print(i)

0
1
2
3
4

In [12]:
for i in range (0,5,2):
    print(i)

0
2
4

In [15]:
for i in range (5,0,-1):
    print(i)

5
4
3
2
1

In [16]:
range (0,5)

range(0, 5)

In [17]:
print (range (0,5))

range(0, 5)

In [18]:
print (list (range(0,5)))

[0, 1, 2, 3, 4]

In [27]:
first_10_odd_number = list(range(1,10*2+1,2))
sum = 0
for i in first_10_odd_number:   
    sum += i
print(sum)

100

In [31]:
names = ['ram', 'shyam', 'sita']
foods = ['momo', 'chowmin', 'thukpa']

for i in names:
    for j in foods:
        print(f"{i} eats {j}")

ram eats momo
ram eats chowmin
ram eats thukpa
shyam eats momo
shyam eats chowmin
shyam eats thukpa
sita eats momo
sita eats chowmin
sita eats thukpa

In [34]:
names = ['ram', 'shyam', 'sita']
index = 0
for i in names:
    print(i , index)
    index += 1

ram 0
shyam 1
sita 2

In [35]:
names = ['ram', 'shyam', 'sita']

for i in range(0, len(names)):
    print(names[i],i)

ram 0
shyam 1
sita 2

In [40]:
x = [(0, 'one'), (1, 'two'), (2, 'three'), (3, 'four'), (4, 'five')] #better way

for i,j in x:
    print (j,i)

one 0
two 1
three 2
four 3
five 4

In [39]:
x = [(0, 'one'), (1, 'two'), (2, 'three'), (3, 'four'), (4, 'five')]

for i in x:
    print (i[1],i[0])

one 0
two 1
three 2
four 3
five 4

In [42]:
names = ['ram', 'shyam', 'sita']
list(enumerate(names))

[(0, 'ram'), (1, 'shyam'), (2, 'sita')]

In [45]:
names = ['ram', 'shyam', 'sita']

for i, j  in enumerate(names): # no need to convert to list to iterate in loop
    
    print (j,i)

ram 0
shyam 1
sita 2

In [50]:
marks = { 'Alan' : 99, 'Bill' : 55, 'Ram' : 55, 'cory': 77}
sum = 0

for name,mark in marks.items():
    sum += mark
print (sum)

286

In [51]:
marks = { 'Alan' : 99, 'Bill' : 55, 'Ram' : 55, 'cory': 77}
sum = 0

for mark in marks.values():
    sum += mark
print (sum)

286

In [53]:
marks = { 'Alan' : 99, 'Bill' : 55, 'Ram' : 55, 'cory': 77}
sum = 0

for name,mark in marks.items():
    if name != 'Ram':
        sum += mark
print (sum)

231

In [55]:
marks = { 'Alan' : 99, 'Bill' : 55, 'Ram' : 55, 'cory': 77}
sum = 0

for name,mark in marks.items():
    if name == 'Ram':
        continue
    sum += mark
print (sum)

231

In [58]:
marks = { 'Alan' : 99, 'Bill' : 55, 'Ram' : 55, 'cory': 77}
sum = 0

for name,mark in marks.items():
    if mark < 80:
        sum += mark
print (sum)

187

In [60]:
marks = { 'Alan' : 99, 'Bill' : 55, 'Ram' : 55, 'cory': 77}
sum = 0

for name,mark in marks.items():
    if mark > 80:
        continue
    sum += mark
print (sum)

187

In [63]:
numbers = [1,2,3,4,5,6,7,8,9]
sum = 0

for i in numbers:
    if i == 6:
        continue
    sum += i
print (sum)

39

In [64]:
numbers = [1,2,3,4,5,6,7,8,9]
sum = 0

for i in numbers:
    if i == 6:
        break
    sum += i
print (sum)

15

In [68]:
numbers = [1,2,3,4,5,6,7,8,9]
sum = 0

for i in numbers:
    if i == 66:
        break
    sum += i
else:
    print ("I will run successfully")
print (sum)

I will run successfully
45

In [ ]:
#if break statement is not executed else gets executed

In [67]:
numbers = [1,2,3,4,5,6,7,8,9]
sum = 0

for i in numbers:
    if i == 6:
        continue
    sum += i
else:
    print ("I will run successfully")
print (sum)

I will run successfully
39

In [69]:
def hello ():
    pass
hello()

In [70]:
def hello ():
    
hello()

IndentationError: expected an indented block after function definition on line 1 (1893915836.py, line 3)

In [71]:
numbers = [1,2,3,4,5,6,7,8,9]
sum = 0

for i in numbers:
    if i < 5:
        pass

In [72]:
numbers = [1,2,3,4,5,6,7,8,9]
sum = 0

for i in numbers:
    if i < 5:

SyntaxError: incomplete input (3824016242.py, line 5)

In [74]:
numbers = [1,2,3,4,5,6,7,8,9]
sum = 0

for i in numbers:
    if i == 6:
        pass
    sum += i
print (sum)

45

In [83]:
names = ['ram', 'shyam', 'sita']
foods = ['momo', 'chowmin', 'thukpa']

for i in names:
    for j in foods:
        if i == 'shyam' and j == 'chowmin':
                continue
        print(f"{i} eats {j}")

ram eats momo
ram eats chowmin
ram eats thukpa
shyam eats momo
shyam eats thukpa
sita eats momo
sita eats chowmin
sita eats thukpa

In [85]:
names = ['ram', 'shyam', 'sita']
foods = ['momo', 'chowmin', 'thukpa']

for i in names:
    for j in foods:
        if not(i == 'shyam' and j == 'chowmin'):
            print(f"{i} eats {j}")

ram eats momo
ram eats chowmin
ram eats thukpa
shyam eats momo
shyam eats thukpa
sita eats momo
sita eats chowmin
sita eats thukpa

In [88]:
names = ['ram', 'shyam', 'sita']
foods = ['momo', 'chowmin', 'thukpa']

for i in names:
    for j in foods:
        if i != 'shyam' or j != 'chowmin':
            print(f"{i} eats {j}")

ram eats momo
ram eats chowmin
ram eats thukpa
shyam eats momo
shyam eats thukpa
sita eats momo
sita eats chowmin
sita eats thukpa