In [15]:
class Celcius:

    def __init__(self,temperature):
        self.temperature = temperature
    
    def cel_to_far(self):
        return (self.temperature*1.8)+32

In [16]:
temp = Celcius(30)
print(temp.cel_to_far())

86.0

In [55]:
class Celcius:

    def __init__(self,temperature):
        self.__temperature = temperature
    
    def cel_to_far(self):
        return (self.__temperature*1.8)+32
    
    #setter
    def set_temperature(self, temp):
        if temp< -273.15:
            raise ValueError('Temperature cannot be below -273.15')
        self.__temperature = temp
    
    #getter
    def get_temperature(self):
        return self.__temperature

In [56]:
c= Celcius(20)
print(c.cel_to_far())

c.__temperature = 50
print(c.cel_to_far())
print(c.get_temperature())

c.set_temperature(50)
print(c.cel_to_far())

68.0
68.0
20
122.0

In [62]:
class Celcius:

    def __init__(self,temperature):
        self.temperature = temperature
    
    def cel_to_far(self):
        return (self.temperature*1.8)+32
    
    @property
    def temperature(self):
        return self.__temperature
    
    #setter
    @temperature.setter
    def temperature(self,temp):
        if temp < -273.15:
            raise ValueError('Temperature cannot be below -273.15')
        self.__temperature = temp

In [66]:
c= Celcius(20)
print(c.cel_to_far())

c.__temperature = 50
print(c.cel_to_far())
print(c.temperature)

c.temperature(50)
print(c.cel_to_far())

68.0
68.0
20

TypeError: 'int' object is not callable

In [6]:
#non pythonic way
x = [1,2,3,4,5,6,7,8]
squares = []

for i in x:
    squares.append(i**2)
    
print (squares)

[1, 4, 9, 16, 25, 36, 49, 64]

In [7]:
list(map(lambda x:x**2, x))

[1, 4, 9, 16, 25, 36, 49, 64]

In [15]:
#list comprehension or pythonic way
x = [1,2,3,4,5,6,7,8]
squares = [i **2 for i in x]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64]

In [16]:
age = 18 
if age>= 18:
    print ('authorized')
else:
    print("Not authorized")

authorized

In [14]:
age = 18 

#ternary operator
authorized = "authorized" if age >=18 else "Not authorized"
print (authorized)

authorized

In [23]:
x = [1,2,3,4,5,6,7,8]
squares = [i **2 if i%2 ==1 else i**3 for i in x]
print(squares)

[1, 8, 9, 64, 25, 216, 49, 512]

In [26]:
x = [1,2,3,4,5,6,7,8]
squares = [i **2 if i%2 == 1 else i for i in x]
print(squares)

[1, 2, 9, 4, 25, 6, 49, 8]

In [29]:
x = [1,2,3,4,5,6,7,8]
y=[]
for i in x:
    if i%2 == 1:
        y.append(i**2)
        
print(y)

[1, 9, 25, 49]

In [32]:
x = [1,2,3,4,5,6,7,8]

odd_squares = [i **2 for i in x if i%2==1]
print(odd_squares)

[1, 9, 25, 49]

In [39]:
x = [1,2,3,4,5,6,7,8]

new_x = [(i,value) for i,value in enumerate(x)]
print(new_x)

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8)]

In [40]:
list(enumerate(x))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8)]

In [42]:
#Dictionary Comprehension

In [45]:
us_price = {'milk':2.03, 'bread': 2.6 , 'butter': 2.6, 'meat': 5, 'soap':1.5}
np_price ={}

for k,v in us_price.items():
    np_price.update({k: v*130})

print(np_price)

{'milk': 263.9, 'bread': 338.0, 'butter': 338.0, 'meat': 650, 'soap': 195.0}

In [46]:
us_price = {'milk':2.03, 'bread': 2.6 , 'butter': 2.6, 'meat': 5, 'soap':1.5}
np_price ={k : v*130 for k,v in us_price.items()}
print(np_price)

{'milk': 263.9, 'bread': 338.0, 'butter': 338.0, 'meat': 650, 'soap': 195.0}

In [49]:
us_price = {'milk':2.03, 'bread': 2.6 , 'butter': 2.6, 'meat': 5, 'soap':1.5}
np_price ={k : v*130 for k,v in us_price.items() if v < 5}
print(np_price)

{'milk': 263.9, 'bread': 338.0, 'butter': 338.0, 'soap': 195.0}

In [50]:
us_price = {'milk':2.03, 'bread': 2.6 , 'butter': 2.6, 'meat': 5, 'soap':1.5}
np_price ={}

for k,v in us_price.items():
    if v<5:
        np_price.update({k: v*130 +.05*v})
    else:
        np_price.update({k: v*130 +.1*v})
    
print(np_price)

{'milk': 264.00149999999996, 'bread': 338.13, 'butter': 338.13, 'meat': 650.5, 'soap': 195.075}

In [52]:
us_price = {'milk':2.03, 'bread': 2.6 , 'butter': 2.6, 'meat': 5, 'soap':1.5}
np_price ={k : (v*130+.05*v  if v < 5 else v * 130 + .1 *v )for k,v in us_price.items()}
print(np_price)

{'milk': 264.00149999999996, 'bread': 338.13, 'butter': 338.13, 'meat': 650.5, 'soap': 195.075}