In [2]:
x= {1,2,3,4}
print(x)
print(type(x))

{1, 2, 3, 4}
<class 'set'>

In [3]:
x = {}
print(x)
print(type(x))

{}
<class 'dict'>

In [5]:
x = set()
print(x)
print(type(x))

set()
<class 'set'>

In [6]:
x = {'hello', 5,1,3,2,4} # under collection
print (x)

{1, 2, 3, 4, 5, 'hello'}

In [7]:
x = {'hello', 5,1,3,2,4,5} # unique data only
print(x)

{1, 2, 3, 4, 5, 'hello'}

In [8]:
x = {'hello', 5,1,3,2,4,5} 
print(x[1])

TypeError: 'set' object is not subscriptable

In [9]:
x = {'hello', 5,1,3,2,4,5} 
x.add(6)
print(x)

{1, 2, 3, 4, 5, 'hello', 6}

In [11]:
x = {'hello', 5,1,3,2,4,5} 
x.update([3,22,7,9])
print(x)

{1, 2, 3, 4, 5, 7, 9, 22, 'hello'}

In [13]:
x = {'hello', 5,1,3,2,4,5} #hashable object => immutable object
x.add([3,22,7,9])
print(x)

TypeError: unhashable type: 'list'

In [14]:
x = {'hello', 5,1,3,2,4,5} #hashable object => immutable object
x.add({3,22,7,9})
print(x)

TypeError: unhashable type: 'set'

In [16]:
x = {'hello', 5,1,3,2,4,5} #hashable object => immutable object
x.add((3,22,7,9)) #tuples can be added
print(x)

{1, 2, 3, 4, 5, 'hello', (3, 22, 7, 9)}

In [17]:
x = {'hello', 5,1,3,2,4,5}
x.remove(5)
print(x)

{1, 2, 3, 4, 'hello'}

In [18]:
x = {'hello', 5,1,3,2,4,5} 
x.remove(15)
print(x)

KeyError: 15

In [19]:
x = {'hello', 5,1,3,2,4,5} 
x.discard(5)
print(x)

{1, 2, 3, 4, 'hello'}

In [21]:
x = {'hello', 5,1,3,2,4,5} 
x.discard(15)
print(x)

{1, 2, 3, 4, 5, 'hello'}

In [22]:
x = {'hello', 5,1,3,2,4,5} 
x.pop()
print(x)

{2, 3, 4, 5, 'hello'}

In [23]:
x = {'hello', 5,1,3,2,4,5} 
x.clear()
print(x)

set()

In [24]:
tea = {'ram', 'shyam', 'sita'}
coffee = {'hari', 'shyam', 'gita'}

tea_or_coffee = tea | coffee #union
print ( tea_or_coffee)

{'hari', 'shyam', 'gita', 'sita', 'ram'}

In [25]:
tea = {'ram', 'shyam', 'sita'}
coffee = {'hari', 'shyam', 'gita'}

tea_or_coffee = tea.union(coffee) #union
print ( tea_or_coffee)

{'hari', 'shyam', 'gita', 'sita', 'ram'}

In [26]:
tea = {'ram', 'shyam', 'sita'}
coffee = {'hari', 'shyam', 'gita'}

tea_and_coffee = tea & coffee #intersection
print ( tea_and_coffee)

{'shyam'}

In [27]:
tea = {'ram', 'shyam', 'sita'}
coffee = {'hari', 'shyam', 'gita'}

tea_and_coffee = tea.intersection(coffee) #intersection
print ( tea_and_coffee)

{'shyam'}

In [28]:
tea = {'ram', 'shyam', 'sita'}
coffee = {'hari', 'shyam', 'gita'}

tea_only = tea - coffee #difference
print ( tea_only)

{'ram', 'sita'}

In [29]:
tea = {'ram', 'shyam', 'sita'}
coffee = {'hari', 'shyam', 'gita'}

tea_only = tea.difference(coffee) #difference
print ( tea_only)

{'ram', 'sita'}

In [30]:
tea = {'ram', 'shyam', 'sita'}
coffee = {'hari', 'shyam', 'gita'}

coffee_only = coffee - tea #difference
print ( coffee_only)

{'hari', 'gita'}

In [34]:
tea = {'ram', 'shyam', 'sita'}
coffee = {'hari', 'shyam', 'gita'}

coffee_only = coffee.difference(tea) #difference
print ( coffee_only)
print (coffee)

{'hari', 'gita'}
{'hari', 'shyam', 'gita'}

In [33]:
tea = {'ram', 'shyam', 'sita'}
coffee = {'hari', 'shyam', 'gita'}

coffee.difference_update(tea) #difference
print (coffee)

{'hari', 'gita'}

In [35]:
tea = {'ram', 'shyam', 'sita'}
coffee = {'hari', 'shyam', 'gita'}

coffee_only_and_tea_only = tea ^ coffee #symmetric difference
print ( coffee_only_and_tea_only)

{'ram', 'hari', 'gita', 'sita'}

In [36]:
tea = {'ram', 'shyam', 'sita'}
coffee = {'hari', 'shyam', 'gita'}

coffee_only_and_tea_only = tea.symmetric_difference(coffee)  #symmetric difference
print ( coffee_only_and_tea_only)

{'ram', 'hari', 'gita', 'sita'}

In [38]:
natural_no = {1,2,3,4,5,6}
odd_no = {1,3,5}

print(natural_no.issuperset(odd_no))
print(odd_no.issuperset(natural_no))
print(odd_no.issubset(natural_no))

True
False
True

In [39]:
natural_no = {1,2,3,4,5,6}
odd_no = {1,3,5,7}

print(natural_no.issuperset(odd_no))
print(odd_no.issuperset(natural_no))
print(odd_no.issubset(natural_no))

False
False
False

In [40]:
all([False, 0 , [], set(), {}, (), ''])

False

In [41]:
all({0, 12, 32, 'hello'})

False

In [42]:
max({0, 12, 32})

32

In [44]:
max({'hello', 'A', '1'})

'hello'

In [45]:
sorted({'hello', 'A', '1'})

['1', 'A', 'hello']

In [46]:
sum({'hello', 'A', '1'})

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [47]:
sum ({0,12,32})

44

In [48]:
1 in {0,12,32}

False

In [50]:
for i in {0,12,32}:
    print (i)

0
32
12

In [52]:
for i in {0,12,32}:
    print (i, end = ' ')

0 32 12

In [53]:
#control flow

In [54]:
a = 1
b = 2

sum = a + b
print(sum)

3

In [58]:
a = 1
b = 2

sum = a + b

if sum > 100: #flow control / decision making statement
    print(sum)

In [60]:
marks = 40

if marks>= 40:
    print("pass")
    
print ('welcome to python course')

pass
welcome to python course

In [61]:
marks = 30

if marks>= 40:
    print("pass")
    
print ('welcome to python course')

welcome to python course

In [62]:
num1 = 5
num2 = 6

if num1 > num2:
    print('num1 is greater than num2')
if num2 > num1:
    print('num2 is greater than num1')

num2 is greater than num1

In [63]:
marks = 30

if marks>= 40:
    print("pass")
else:
    print("fail")

fail

In [67]:
marks = [50,79,45,98,55,54,80,60]
pass_count =0

for m in marks:
    if m>=40:
        pass_count += 1
        
if pass_count == 8:
    print('pass')

pass

In [68]:
maths = 50
science = 48
social = 90
nepali = 20
eph = 70
computer = 89
health = 66
opt_math = 59

if maths >= 40 and science >= 40 and social >= 40 and nepali >= 40 and eph >= 40 and computer >=40 and health >=40 and opt_math >= 40:
    print("pass")
else:
    print("fail")

fail

In [73]:
average = (maths+science+social+nepali+eph+computer+health+opt_math)/8
print(f"you scored : {average} % ")

you scored : 61.5 %

In [75]:
username = input('please enter your username : ')
password = input('please enter your password: ')

if username == "admin" and password == "admin":
    print("welcome back")
else:
    print("please check your details")

please enter your username : admin
please enter your password: admin
welcome back

In [78]:
username = input('please enter your username : ')
password = input('please enter your password: ')
role ="administrator"

if username == "admin" and password == "admin" or role == "administrator":
    print("welcome back")
else:
    print("please check your details")

please enter your username : helool
please enter your password: hek
welcome back

In [80]:
maths = 50
science = 48
social = 90
nepali = 20
eph = 70
computer = 89
health = 66
opt_math = 59

if maths >= 40 and science >= 40 and social >= 40 and nepali >= 40 and eph >= 40 and computer >=40 and health >=40 and opt_math >= 40:
    print("pass")
else:
    print("fail")
    
average = (maths+science+social+nepali+eph+computer+health+opt_math)/8
print(f"you scored : {average} % ")

if average>= 90:
    print ("A")
if 89>= average >=70:
    print ("B")
if 69>= average >=60:
    print("C")
if 59>= average >=50:
    print("D")
if average< 40:
    print("F")

fail
you scored : 61.5 %
C