In [11]:
def name(first_name , last_name):
 
    full_name =     first_name + last_name
    
    return name
    print (f"My name is {first_name} {last_name}")

In [12]:
name("sandip","shrestha")

Enter your first name sanfi
Enter your last name sjdka

In [14]:
#p , t, r => simple interest
#i = (p*t*r)/100

In [15]:
def simple_interest(p,t,r):
    si = (p*t*r)/100
    return si

In [16]:
simple_interest (10000,4,13)

5200.0

In [10]:
def squares(numbers):
    squared_list = []
    for n in numbers:
        squared_list.append(n**2)
        
    return squared_list

In [11]:
numbers = [1,4,15,23,41,3,13]
squares(numbers)

[1, 16, 225, 529, 1681, 9, 169]

In [13]:
numbers = [1,4,15,23,41,3,13,4,15,41,1]

In [14]:
def unique_only(numbers):
    unique = list(set(numbers))
    return unique

In [16]:
unique_only(numbers)

[1, 3, 4, 41, 13, 15, 23]

In [18]:
def unique_only_loop(numbers):
    unique_list = []
    
    for n in numbers:
        if n not in unique_list:
            unique_list.append(n)
  
    return unique_list

In [19]:
unique_only_loop(numbers)

[1, 4, 15, 23, 41, 3, 13]

In [23]:
def unique_and_sum(numbers):
    unique_list = []
    sum = 0
    
    for n in numbers:
        if n not in unique_list:
            unique_list.append(n)
            sum += n
  
    return unique_list,sum

In [24]:
unique_and_sum(numbers) #returned value is in the form of tuple

([1, 4, 15, 23, 41, 3, 13], 100)

In [26]:
unique_list, sum = unique_and_sum(numbers) # unpacking the tuple
print(unique_list)
print(sum)

[1, 4, 15, 23, 41, 3, 13]
100

In [28]:
numbers = [1,4,15,23,41,3,13,4,15,41,1]

def odd_or_even_list(numbers):
    odd_list = []
    even_list = []
    
    for n in numbers:
        if n % 2 == 1:
            odd_list.append(n)
        else:
            even_list.append(n)
    
    return odd_list,even_list

In [29]:
odd_or_even_list(numbers)

([1, 15, 23, 41, 3, 13, 15, 41, 1], [4, 4])

In [30]:
def odd_or_even_unique(numbers):
    odd_list = []
    even_list = []
    
    for n in numbers:
        if n % 2 == 1:
            if n not in odd_list:
                odd_list.append(n)
        else:
            if n not in even_list:
                even_list.append(n)
    
    return odd_list,even_list

In [31]:
odd_or_even_unique(numbers)

([1, 15, 23, 41, 3, 13], [4])

In [32]:
def unique_only_loop(numbers):
    unique_list = []
    
    for n in numbers:
        if n not in unique_list:
            unique_list.append(n)
  
    return unique_list
    
def unique_and_sum(numbers):
    unique_list = unique_only_loop(numbers)
    sum = 0
    
    for n in unique_list:
        sum += n
  
    return sum

In [36]:
birth_date = 1990
def age_calculator(birth_date):
    present_age = 2022 - birth_date
    return present_age

In [37]:
age_calculator(birth_date)

32

In [47]:
from datetime import datetime
today = datetime.utcnow().date().year #working with date and time
print (today)

2022

In [49]:
def addition(a,b=1): # b=1 is default argument
    return a+b

In [51]:
addition(6)

7

In [52]:
addition(7,9)

16

In [56]:
def full_name_gen(first_name , last_name ,middle_name = ""):
    full_name = f"{first_name} {middle_name} {last_name}"
    
    return full_name

In [58]:
full_name_gen("sandip","Shrestha")

'sandip prasad Shrestha'

In [60]:
full_name_gen("Sandip","Bahadur","Shrestha")

'Sandip Shrestha Bahadur'

In [62]:
full_name_gen(first_name = "Sandip",middle_name = "Bahadur",last_name = "Shrestha")

'Sandip Bahadur Shrestha'

In [64]:
full_name_gen(first_name = "Sandip",middle_name = "Bahadur",Shrestha)

SyntaxError: positional argument follows keyword argument (258108850.py, line 1)

In [66]:
full_name_gen("Sandip", "Shrestha",middle_name = "Bahadur")

'Sandip Bahadur Shrestha'

In [67]:
def full_name_gen(first_name , last_name ,middle_name = ""):
    """generate full name from first, middle and last name"""
    full_name = f"{first_name} {middle_name} {last_name}"
    
    return full_name

In [68]:
help(full_name_gen)

Help on function full_name_gen in module __main__:

full_name_gen(first_name, last_name, middle_name='')
    generate full name from first, middle and last name

In [71]:
def check_return_value(first_name , last_name ,middle_name = ""):
    full_name = f"{first_name} {middle_name} {last_name}"
    
    return 'hello_world'
    return full_name

In [72]:
check_return_value("Sandip", "Shrestha",middle_name = "Bahadur")

'hello_world'

In [79]:
numbers = [1,4,15,23,41,3,13,4,15,41,1]
def breaking_duplicate(numbers):
    unique_list = []
    
    for n in numbers:
        if n not in unique_list:
            unique_list.append(n)
        else:
            break
  
    return unique_list

In [80]:
breaking_duplicate(numbers)

[1, 4, 15, 23, 41, 3, 13]

In [81]:
def return_inside_loop(numbers):
    unique_list = []
    
    for n in numbers:
        if n in unique_list:
            return unique_list
        else:
            unique_list.append(n)
  
    return unique_list

In [82]:
return_inside_loop(numbers)

[1, 4, 15, 23, 41, 3, 13]

In [83]:
def number_type(number):
    if number > 0:
        return "Positive"
    elif number < 0 :
        return "Negative"
    else:
        return "0"

In [84]:
number_type(-7)

'Negative'